/*header*/
.header-center{
  margin-left:12%;
  padding:28px 0 0 0;
  float:left;
  margin:0 aouto;
  width:50%;
}

.title{
  text-align: center;
}


/*header end*/

/*menu*/
.main img {
   width:100%;
}

.menu{
  margin:0 auto;
  color:#241a08;
  background-image:url("../image/image7.png");
  background-size:cover;
}

/*this is for main image to be transparent*/
.white_sheet{
  height: 100%;
  padding:80px 0;
  background: rgba(255,255,255,0.5);
}


.menu h1{
  padding-bottom:30px;
}

.menu h2 {
  padding-bottom:5px;
}

.menu p{
  padding-bottom:30px;
  font-weight: bold;
}


/*access left side*/
.access{
  padding:60px 0;
  margin:o auto;
  background-color:#281a14;
}

.access h1{
  text-align: left;
  padding-bottom:50px;
  color:white;

}
.access-map{
  float:left;
  width:50%;
  text-align: center;

}

iframe{
  width:80%;
  padding-right: 70px;
}

/*access right side*/
.access-text{
  float:left;
  width:50%;
  color:white;
  text-align: left;
}

dt{
   padding-top:10px;
   padding-bottom: 5px;
}

.access-text a{
  background-color:#165e83 ;
  color:white;
  width: 50%;
}

.reserve{
  margin-top: 20px;
  display:block;
  margin-left: 60px;
  box-shadow: 3px 3px #0f2350;
}


/*footer color*/
footer h3 {
  color: #281a14;
}

footer {
  background-color: white;
}

footer .back_top{
  color:#281a14;
}


/*the title at the top of the page can't stay correct*/
@media(max-width: 990px){
   .header-center{
    margin-left:200px;
    padding-top: 28px;
    float:left;
    margin:0 aouto;
    width:25%;
    font-size: 18px;
  }

}


@media(max-width: 460px){
  .header-center h3{
    font-size: 15px;
  }
}
